.container-form-section {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Switched the order of columns */
  gap: 20px;
}

.feedback-container,
.form-container {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #0F267A;
}

.small-text {
  font-size: 14px;
  color: #888;
  margin-bottom: 10px;
}

.header-container {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.form-group input[type="text"],
.form-group input[type="tel"],
.form-group input[type="email"],
.form-group textarea {
  width: calc(100% - 10px);
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-group input[type="submit"] {
  background-color: #0F267A;
  color: white;
  padding: 15px 30px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  margin: 0 auto;
}

.form-group input[type="submit"]:hover {
  background-color: #0c1f5f;
}
