/* Import fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  background-color: hsl(0, 0%, 100%);
  font-size: 16px; 
  font-family: "Poppins", sans-serif; 
}

/* Text styles */
h3 {
  font-size: 24px; 
  color: #0F267A;
}

p {
  font-size: 16px; 
}

/* Carousel container */
.carousel-container {
  max-width: 800px;
  margin: auto;
  padding: 40px;
  border: 2px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  position: relative; /* Ensure relative positioning for absolute positioning of arrows */
}

/* Carousel */
.carousel {
  position: relative;
}

.carousel-slide {
  display: flex;
  align-items: center;
}

/* Profile picture */
.profile-picture {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}

.profile-picture img {
  width: 100%;
  height: auto;
  display: block;
}

/* Carousel caption */
.carousel-caption {
  flex: 1;
}

.btn-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* Navigation buttons */
.prev, .next {

  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  z-index: 1; /* Ensure the arrows are above other content */
}

.prev:hover, .next:hover {
  background-color: #0F267A;
  box-shadow: 10px 10px 0 #FF2468;
}

.prev:active, .next:active {
  transform: translate(10px, 10px);
  box-shadow: none;
}

.container-prev {
  left: -30px; 
}

.container-next {
  right: -30px; 
}
