/* Import fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Reset styles */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  background-color: hsl(0, 0%, 100%);
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 14px;
  display: grid;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  place-items: center;
  min-height: 100vh;
}

/* Text styles */
h1, h2, h4, p {
  line-height: 1;
  color: #0F267A;
}

h1 {
  font-size: clamp(34px, 5vw, 68px);
  font-weight: 400;
}

h2 {
  font-size: clamp(34px, 5vw, 56px);
  font-weight: 400;
}

h4 {
  font-size: clamp(16px, 4vw, 24px);
  font-weight: 400;
  line-height: 1.5;
}

/* First screen section */
.first-screen {
  margin: 30px 0;
}

.container1 {
  display: flex;
  overflow: hidden;
  border-radius: 12px;
  background-color: #fff;
  margin: 15px 0;
}

.left-first, .right-first {
  flex: 1;
}

.left-first {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.left-first img {
  max-width: 90%;
  max-height: 640px;
  padding: 10px;
  margin: 0 auto;
}

.right-first {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px 10px 10px 30px;
    max-width: 460px;
}

/* Buttons */
.first-btn {
  color: #fff;
  background-color: #FF2468;
  border: none;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  width: 80%;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: clamp(18px, 4vw, 24px);
  box-shadow: 10px 10px 0 #0F267A;
  transition: all 0.2s ease;
}

.first-btn:hover {
  background-color: #0F267A;
  box-shadow: 10px 10px 0 #FF2468;
}

.first-btn:active {
  transform: translate(10px, 10px);
  box-shadow: none;
}

/* slider gallery start */

.gallery{
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.gallery-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  padding-right: 30px;
}

.gallery-text h2{
  padding-bottom: 30px;
}

.slider{
  width: 500px;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
}

.slides{
  width: 500%;
  max-height: 500px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 20%;
  transition: 2s;
}

.slide img{
  max-width: auto;
  max-height: 500px;
}

/*css for manual slide navigation*/

.navigation-manual{
  position: absolute;
  width: 500px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid #84DBEF;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: #FF2468;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}

/*css for automatic navigation*/

.navigation-auto{
  position: absolute;
  display: flex;
  width: 500px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div{
  border: 2px solid #84DBEF;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: #FF2468;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: #FF2468;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: #FF2468;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background: #FF2468;
}

/* slider gallery end */

/* reviews */


/* Carousel container */
.carousel-container {
  max-width: 800px;
  margin: auto;
  padding: 40px;
  border: 2px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  position: relative; /* Ensure relative positioning for absolute positioning of arrows */
}

/* Carousel */
.carousel {
  position: relative;
}

.carousel-slide {
  display: flex;
  align-items: center;
}

/* Profile picture */
.profile-picture {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}

.profile-picture img {
  width: 100%;
  height: auto;
  display: block;
}

/* Carousel caption */
.carousel-caption {
  flex: 1;
}

.btn-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* Navigation buttons */
.prev, .next {

  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  z-index: 1; /* Ensure the arrows are above other content */
}

.prev:hover, .next:hover {
  background-color: #0F267A;
  box-shadow: 10px 10px 0 #FF2468;
}

.prev:active, .next:active {
  transform: translate(10px, 10px);
  box-shadow: none;
}

.container-prev {
  left: -30px; 
}

.container-next {
  right: -30px; 
}

/* feedback */

.container-form-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Switched the order of columns */
  gap: 20px;
  background-color: hsla(191, 77%, 73%, 30%);
  padding: 0px 20px;
}

.feedback-container {
  padding: 40px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.form-container {
  margin: 40px 0px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
}

.header-container {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group > label {
  display: block;
  margin-bottom: 5px;
  color: #0F267A;
  font-weight: 600;
}

.form-group input[type="text"],
.form-group input[type="tel"],
.form-group input[type="email"],
.form-group textarea {
  width: calc(100% - 10px);
  padding: 8px;
  border: 2px solid #a0a0a0;
}

/* submit btn */
.form-group input[type="submit"] { 
  background-color: #0F267A;
  color: white;
  padding: 15px 30px;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
  display: block;
  margin: 0 auto;
}

.form-group input[type="submit"]:hover {
  background-color: #0c1f5f;
}

.right-to-form {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}


/* FOOTER START */
.footer {
  background-color: #0F267A;
  width: 100%;
  padding: 10px 20px;
  text-align: center;
  font-size: 14px;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Allow names to wrap to multiple lines on smaller screens */
}

.footer-container a{
  color: #84DBEF;
}

.footer-container a:hover{
  color: #FF2468;
}

.footer-container p{
  color: #fff;
}

/* FOOTER END */

/* Responsive versions */
@media screen and (max-width: 624px) {
  .container1 {
    flex-direction: column;
    text-align: center;
  }

  .container1 .first-btn {
    margin: 0 auto;
  }

  h1, h2{
    padding-top: 20px;
  }

  h1, h2, h4, .first-btn {
    padding-bottom: 20px;
  }
  .gallery{
    flex-wrap: wrap;
    max-width: 450px;
  }

  .gallery-text {
    text-align: center;
  }

  .slides .slider .slide img {
    max-width: 200px;
    max-height: 200px;
  }

  #mobile-menu-btn {
    display: flex !important;
  }

  .container-form-section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

 /*products-start*/

.products {
width: 100%
}

.container2{
  padding:15px 9%;
  padding-bottom: 100px;
}
/*
display: flex;
justify-content: space-between;
padding: 20px;
}
*/

.container2 .heading{
  text-align: center;
  padding-bottom: 15px;
  color: #0F267A;
  text-shadow: 0 5px 10px #001f8e59;
  font-size: 50px;
}
  
.container2 .box-container2{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 15px;
  background-color: #84dbef57;
}

.container2 .box-container2 .box{
  border-radius: 5px;
  background: #fff; 
  text-align: center;
  padding:30px 20px;
}

.container2 .box-container2 .box img{
  height: 80px;
}

.container2 .box-container2 .box h3{
  color: #0F267A;
  font-size: 22px;
  padding: 10px 0;
}

.container2 .box-container2 .box p{
  color: #0F267A;
  font-size: 15px;
  line-height: 1.8;
}

.container2 .box-container2 .box .btn{
  margin-top: 10px;
  display: inline-block;
  background: #FF2468;
  color: #ffffff;
  font-size: 17px;
  border-radius: 5px;
  padding: 8px 25px;
}

.container2 .box-container2 .box .btn:hover{
  letter-spacing: 1px;
}

.container2 .box-container2 .box:hover{
  box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
  transform: scale(1.0010);
  overflow: hidden;
}

@media (max-width:768px){
  .container1{
      padding:20px;
  }
}
/*products-end*/

#mobile-menu-btn {
  display: none;
  cursor: pointer;
  z-index: 20;
  border: none;
  position: absolute;
  padding: 7px;
  height: 53px;
  width: 53px;
  top: 0;
  right: 0;
  transition: background-color 0.2s;
}

.menu-btn-closed {
  background: #232996;
}

.menu-btn-open {
  background: #FF2468;

}

#mobile-menu {
  z-index: 10;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  justify-content: center;
  justify-items: center;
}

#mobile-menu > ul {
  margin: auto;
}

#mobile-menu > ul > li {
  list-style-type: none;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: -0.02em;
  padding-bottom: 32px;
  color: #0F267A;
}

.visible {
  display: flex;
}

.hidden {
  display: none;
}